Body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    display: flex;
  }
  
  .my-photo {
    width: 30%;
    display: block;
    margin-right: 25px;
  }
  
  .my-photo img {
    width: 350px;
    border: 1px solid black;
    height: 250px;
    margin-left: 40px;
  }
  
  .header-content {
    width: 60%;
    margin-top: 50px;
    margin-left: 0px;
  }
  
  section {
    margin: 10px;
  }


  .section-header {
    cursor: pointer;
  }
  
  .experience,
  .studies {
    display: none;
  }
  
  .active {
    display: block;
    background-color: azure;
    padding: 10px;
  }

  .section-studies, 
  .section-experience {
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
  }

  .button:hover{
    background-color: #B6E2D3;
    color: white;
    text-transform: uppercase;
  }

  .button {
    background-color: transparent;
    color: #B6E2D3;
    text-transform: uppercase;
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 10px;
  }
  
  .p-social{
    margin-left: 40px;
    margin-top: 40px;
  }

  .img-social-git {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
  }

  .img-social-linkedin {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
  }
